<div class="row">
    <div class="col-md-12 text-center">
        <h2>Add Task </h2>
    </div>
    <br>
    <div class="row">
        <form [formGroup]="addstudent" novalidate class="form">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"><h3>Title</h3> </div>
                <div class="col-md-4">
                    <input type=text formControlName="firstName" class="form-control"></div>
            </div>
            <div class="col-md-2"></div>


            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"><h3>Description</h3> </div>
                <div class="col-md-4">
                    <input type=text formControlName="lastName" class="form-control"></div>
            </div>
            <div class="col-md-2"></div>



            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"><h3>Due-Date</h3> </div>
                <div class="col-md-4">
                    <input type=Date formControlName="Due_Date" class="form-control"></div>
            </div>
            <div class="col-md-2"></div>


            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">
                    <button type="submit" (click)="onSubmit()" class="btn btn-success"><h4>Add Task</h4></button> </div>
            </div>
            <div class="col-md-2"></div>
        
        </form>
    </div>
</div>

