<div class="row">
    <div class="col-md-12 text-center" ><h2>To Do List</h2></div>
</div>

<div class="row">
    <table class="table">
        <thead>
            <th>Title</th>
            <th>Description</th> 
            <th>Due_Date</th>
            <th>Edit | Delet</th>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td>{{student.firstName}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.Due_Date}}</td>
                <td><a href="edit-student/{{student._id}}" >EDIT</a>  |<button (click)="delstudent(student)">DELET</button> </td>


            </tr>
        </tbody>
    </table>
</div>